
body{
    background: rgb(207,242,207);
    background: linear-gradient(90deg, rgba(207,242,207,1) 11%, rgba(170,191,242,1) 95%);
}
.nav-pagina-principal{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 64px;
}

.titulo-pagina-principal{
    padding-top: 10%;
    font-size: 64px;
}

.botones-pagina-principal{
    width: 200px;
    height: 80px;
    text-align: center;

    font-size: 24px;

    background-color: #ffffff; /* Primary blue */
    color: rgb(0, 0, 0);
    padding: 10px 20px;

    border-radius: 10px;
    border: solid black;
    cursor: pointer;
    position: relative;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1); /* Solid black shadow bottom-left */

}